@keyframes post-pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.KingPost {
  &-post {
    animation: post-pop-in 400ms ease 1;
  }
}